#pragma once

// Copy this file to "secrets.h" in this folder, then fill in your own values.

//WiFi
//Leave as-is when running in Wokwi. Replace with own wifi credentials when running in physical components
#define WIFI_SSID     "Wokwi-GUEST"
#define WIFI_PASSWORD ""

//InfluxDB Cloud
// Get these from your InfluxDB Cloud account
#define INFLUXDB_URL    "https://YOUR-REGION.aws.cloud2.influxdata.com"
#define INFLUXDB_ORG    "your-org-name"
#define INFLUXDB_BUCKET "your-bucket-name"
#define INFLUXDB_TOKEN  "your-api-token-here"
